<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Add Discount Rules under standard Sales > Configuration -->
    <menuitem id="menu_sales_discount_rules"
              name="Discount Rules"
              parent="sale.menu_sale_config"
              action="action_sales_discount_rule"
              sequence="20"
              groups="ecs_sales.group_sales_manager"/>
</odoo>
