<?xml version="1.0" encoding="utf-8"?>
<odoo>
        

    <menuitem id="tender_main_menu" name="Tender" groups="tender_user" web_icon="droga_crm,static/description/icon.png"
              sequence="10"/>

    <menuitem id="tender_settings_menu" name="Settings" parent="tender_main_menu" groups="tender_manager"
              sequence="99"/>


    <menuitem id="tender_reports" name="Reports" parent="tender_main_menu" groups="tender_user"
              sequence="98"/>

</odoo>
