<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!--actions -->
    <menuitem id="droag_account_request_froms" name="Approvals" sequence="30"
              parent="account_accountant.menu_accounting" groups="account.group_account_manager">
        <menuitem id="droag_account_payment_request_froms" name="Payment Request" sequence="1"
                  groups="account.group_account_manager">

            <menuitem id="droga_account_payment_request_menu" name="Payment Request"
                      action="droga_account_payment_request_action" groups="account.group_account_manager"
                      sequence="1"/>
            <!--<menuitem id="droga_account_payment_request_urgent_menu" name="Payment Request Urgent" action="droga_account_payment_request_urgent_action" groups="account.group_account_manager" sequence="2"/>
            <menuitem id="droga_account_payment_request_withoutpo_menu" name="Payment Request Without PO" action="droga_account_payment_request_withoutpo_action" groups="account.group_account_manager" sequence="3"/>-->


        </menuitem>
    </menuitem>


    <menuitem id="droga_account_check_followup_menu" name="Check Followup" action="droga_account_check_followup_action"
              groups="account.group_account_manager" parent="account_accountant.menu_accounting" sequence="10"/>
    <menuitem id="droga_account_transaction_type_menu" name="Transaction Type" action="account_transaction_type_action"
              groups="account.group_account_manager" parent="account.account_account_menu" sequence="1"/>

    <!-- withholding follow-up report -->
    <menuitem id="droga_withholding_customer_followup_menu" name="Withholding Followup"
              action="droga_withholding_customer_followup_action"
              groups="account.group_account_manager" parent="account.menu_finance_receivables" sequence="21"/>

    <menuitem id="droga_withholding_vendor_followup_menu" name="Withholding Followup"
              action="droga_withholding_vendor_followup_action"
              groups="account.group_account_manager" parent="account.menu_finance_payables" sequence="21"/>


    <menuitem id="droga_account_withholding_report" parent="account.menu_finance_reports" name="Reports"
              groups="account.group_account_manager">
        <menuitem id="droga_account_withholding_report_menu" name="Withholding Report"
                  action="droga_finance_reports_withholding_excel_action" groups="account.group_account_manager"
                  sequence="1"/>

        <menuitem id="droga_account_customer_outstanding_balance_report_menu" name="Customer Outstanding Report - Excel"
                  action="droga_finance_reports_outstanding_balance_excel_action" groups="account.group_account_manager"
                  sequence="2"/>

        <menuitem id="droga_account_customer_outstanding_balance_report_tree_menu" name="Customer Outstanding Report"
                  action="droga_finance_reports_outstanding_invoice_balance_tree_action"
                  groups="account.group_account_manager"
                  sequence="3"/>

         <menuitem id="droga_account_payment_report_tree_menu" name="Payment Report"
                  action="action_account_payments_reports"
                  groups="account.group_account_manager"
                  sequence="4"/>




    </menuitem>
</odoo>
