<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="droga_commitment_budget_main_menu" name="Budget" sequence="31" parent="account_accountant.menu_accounting" groups="droga_finance.account_risk_treasury_manager_group">

        <menuitem id="droga_budget_menu" name="Budgets" action="account_budget.act_crossovered_budget_view" groups="droga_finance.account_risk_treasury_manager_group" sequence="1"/>
        <menuitem id="droga_budget_reallocation_menu" name="Budget Reallocation/Addition" action="droga_budget_reallocation_action" groups="droga_finance.account_risk_treasury_manager_group" sequence="2"/>
        <menuitem id="droga_commitment_budget_menu" name="Commitment Budget Purchase Request" action="droga_budget_commitment_budget_action" groups="droga_finance.account_risk_treasury_manager_group" sequence="3"/>
        <menuitem id="droga_commitment_budget_purchase_order_menu" name="Commitment Budget Purchase Order" action="droga_budget_commitment_budget_purchase_order_action" groups="droga_finance.account_risk_treasury_manager_group" sequence="4"/>

    </menuitem>


</odoo>
