<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!--  Menu Structure for Procurement -->
    <!-- rename purchase to procurement -->
    <record model="ir.ui.menu" id="purchase.menu_purchase_root">
        <field name="name">Procurement</field>
    </record>

    <!-- Local Procurement -->
    <menuitem id="droag_procurement_local" name="Local Procurement" sequence="0" parent="purchase.menu_purchase_root" groups="purchase.group_purchase_manager,purchase.group_purchase_user">
        <menuitem id="droga_purhcase_request_menu" name="Purhcase Request" sequence="1" action="droga_purhcase_request_action" groups="purchase.group_purchase_manager,purchase.group_purchase_user" />
        <menuitem id="droga_purhcase_rfq_menu" name="Request for Quotation" sequence="2" action="droga_purchase_request_rfq_main_action" groups="purchase.group_purchase_manager,purchase.group_purchase_user" />
    </menuitem>

    <!-- Foregin Procurement -->
    <menuitem id="droag_procurement_foregin" name="Foregin Procurement" sequence="0" parent="purchase.menu_purchase_root" groups="purchase.group_purchase_manager,purchase.group_purchase_user">
        <menuitem id="droga_purhcase_request_foregin_menu" name="Purhcase Request" sequence="1" action="droga_purhcase_request_foregin_action" groups="purchase.group_purchase_manager,purchase.group_purchase_user" />
    </menuitem>

    <!-- Configurations -->
    <menuitem id="droga_purhcase_supplier_registration" name="Vendors" sequence="100" parent="purchase.menu_purchase_config" action="account.res_partner_action_supplier" groups="purchase.group_purchase_manager,purchase.group_purchase_user" />
    <menuitem id="droga_purhcase_committee_menu" name="Procurement Committee" sequence="101" parent="purchase.menu_purchase_config" action="committee_configuration_view_action" groups="purchase.group_purchase_manager,purchase.group_purchase_user" />
    <menuitem id="droga_purhcase_procurement_phase_menu" name="Foregin Procurement Phase" sequence="102" parent="purchase.menu_purchase_config" action="droga_foregin_purchase_phases_view__action" groups="purchase.group_purchase_manager,purchase.group_purchase_user" />


</odoo>
